body{
	font-family: 'Bellefair', serif;
	margin: 0;
	padding: 0;
}

.img-thumbnail{
	width: 1140px;
	height: 550px;
}

.img-shown{
	display: inline-block;
}
.img-hidden{
	display: none;
}

.active-bullet{
	background-color: #fff !important;
}
